                        /* GLOBAL */

@font-face 
{
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root
{
    --main_blue: #0065FC;
    --light_blue: #DEEBFF;
    --gray: #F2F2F2;
    font-family: "Raleway";
}

body
{
    margin: auto;
    max-width: 1440px;
}

header, section
{
    padding-left: 5%;
    padding-right: 5%;
}

ul
{
    list-style: none;
    display: flex;
    padding: 0;
}

h1
{
    font-size: 20px;
    font-weight: bold;
}

h2
{
    font-size: 17px;
    font-weight: bold;
}

p
{
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: black;
}

figure
{
    width: auto;
    height: auto;
    margin: 2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

                        /* HEADER */

header
{
    color: var(--main_blue);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    max-height: 70px;
    margin-top: 2%;
}

header img
{
    max-height: 50px;
}

header div
{
    width: 70%;
}

nav
{
    display: flex;
    width: 30%;
}

nav a
{
    color: black;
}

nav a:hover
{
    color: var(--main_blue);
    border-top: var(--main_blue) 2px solid;
    padding-top: 41px;
    padding-right: 25px;
    padding-left: 25px;
}

#menu_subscribe
{
    color: var(--main_blue);
    font-weight: bold;
}

nav ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

                        /* BODY */

            /* SEARCH */

#search_toolbar
{
    display: flex;
    align-items: center;
}

#search_tb_icon
{
    text-align: center;
    background-color: var(--gray);
    border-radius: 15px 0px 0px 15px;
    height: 50px;   
    width: 50px;
}

.fa-map-marker-alt:before
{
    font-size: 20px;
    position: relative;
    top: 15px;
}

input
{
    width: 100%;
    height: 46px;
    border-left: none;
    border-right: none;
    border: solid 2px var(--gray);
    padding: 0;
    padding-left: 10%;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

::placeholder
{
    color: black;
    font-weight: bold;
}

input:focus, textarea:focus, select:focus
{
    outline: none;
}

#search_tb_button
{
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    height: 50px;   
    width: 120px;
}

#search_tb_button p
{
    color: white;
    text-align: center;
    font-size: medium;
}

.fa-info:before
{
    font-size: 15px;
    position: relative;
    left: 10px;
    color: var(--main_blue)
}

.circle_empty:before
{
    font-size: 30px;
    position: relative;
    left: -8px;
    top: 5px;
    color: var(--gray)
}

#search_filters
{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#search_filters h2
{
    width: 5%
}

#search_filters ul
{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_filters li
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    border: var(--gray) solid;
    border-left: none;
    border-radius: 0px 40px 40px 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: auto;
}

#search_filters a
{
    width: auto;
    font-weight: bold;
    color: black;
    font-size: 20px;
    white-space: nowrap;
    padding-left: 5px;
}  

.circle_full:before
{
    color: var(--light_blue);
    font-size: 50px;
    position: absolute;
    left: -34px;
    top: -4px;
    z-index: 1;
}

.fa-money-bill-wave
{
    color: var(--main_blue);
    position: absolute;
    left: -21px;
    top: 11px;
    font-size: 20px;
    z-index: 2;
}

.fa-child
{
    color: var(--main_blue);
    position: absolute;
    left: -19px;
    top: 10px;
    font-size: 25px;
    z-index: 2; 
}

.fa-heart
{
    color: var(--main_blue);
    position: absolute;
    left: -22px;
    top: 11px;
    font-size: 25px;
    z-index: 2;   
}

.fa-dog
{
    color: var(--main_blue);
    position: absolute;
    left: -23px;
    top: 8px;
    font-size: 25px;
    z-index: 2; 
} 


            /* HOSTINGS */

#hostings
{
    margin-top: 5%;
    display: flex;
}

#hostings_main
{
    width: 67%;
    background-color: var(--gray);
    border-radius: 20px;
    height: 650px;
}

#hostings_m_flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hostings img
{
    object-fit: cover;
}

#hostings_main img
{
    width: 96%;
    padding: 2%;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}

.hostings_m_blocs
{
    width: 30%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hostings_m_blocs figcaption
{
    padding-left: 7%;
}

.hostings_m_blocs p, .hostings_m_blocs h2
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.blue_stars
{
    color: var(--main_blue);
}

.gray_stars
{
   color: var(--gray) 
}

aside
{
    margin-left: 3%;
    background-color: var(--gray);
    border-radius: 20px;
    width: 33%;
    height: 650px;
}

aside img
{
    align-self: flex-start;
    width: 40%;
    padding: 5px;
    height: 95%;
    border-radius: 20px 0px 0px 20px;
}

aside figcaption
{
    padding-left: 10px;
}

aside figure
{
    display: flex;
    height: 160px;
}

aside h2, aside p
{
    margin-bottom: 0;
}

#hostings_a_flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hostings_a_blocs
{
    width: 90%;
    display: flex;
    margin-top: 1%;
}

.fa-chart-line
{
    padding-left: 150px;
}

.a_stars
{
    margin-top: 50px;
}

#hostings_main h1, #show_more, aside h1
{
    margin-top: 50px;
    margin-left: 35px;
}

#show_more
{
    font-weight: bold;
    color: black;
}



            /* ACTIVITIES */

#activities_flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#activities h1
{
    margin-top: 5%;
}

#activities_flex img
{
    border-radius: 20px 20px 0px 0px;
}

#activities_flex h2
{
    margin-top: 3%;
    padding-left: 7%;
}

.activities_single
{
    width: 24%;
    height: 500px;
}

.activities_single img
{
    object-fit: cover;
    width: 100%;
    height: 90%;
}

#activities_unequals
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
    height: 500px;
}

#pomegues
{
    height: 50%;
    margin-top: 0;
}

#frioul
{
    height: 40%;
    margin-bottom: 0;
}

#activities_unequals img
{
    object-fit: cover;
    width: 100%;
    height: 80%;
}

#activities_equals
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
    height: 500px;
}

#activities_equals img
{
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.dame_parc
{
    height: 45%;
    margin-top: 0;
    margin-bottom: 0;
}









                        /* FOOTER */

footer
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--gray);
}

footer div
{
    margin-right: 10%;
    padding-left: 5%;
}

footer ul
{
    flex-direction: column;
    align-items: start;
}

footer a
{
    color: black;
}
