            /* GLOBAL */

@font-face 
{
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf") format("truetype");
}

:root
{
    --main-blue: #0065FC;
    --light-blue: #DEEBFF;
    --gray: #F2F2F2;
    font-family: "Raleway";
}

body
{
    margin: auto;
    max-width: 1440px;
}

header, section
{
    padding-left: 5%;
    padding-right: 5%;
}

ul
{
    list-style: none;
    display: flex;
    padding: 0;
}

h1
{
    font-size: 22px;
    font-weight: bolder;
}

h2
{
    font-size: 20px;
    font-weight: bolder;
}

h3
{
    font-size: 17px;
    font-weight: bold;
}

p
{
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: black;
}

figure
{
    margin: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

img
{
    object-fit: cover;
}



            /* HEADER */

header
{
    color: var(--main-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    margin-top: 28px;
}

header img
{
    height: 50px;
}

header div
{
    width: 60%;
}

nav
{
    display: flex;
    width: auto;
}

nav a
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 52px;
}

#menu_activities
{
    color: black;
}

#menu_hostings
{
    color: var(--main-blue);
    border-top: var(--main-blue) 2px solid;
}

#menu_subscribe
{
    color: var(--main-blue);
    font-weight: bold;
    padding: 40px;
}

nav ul
{
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
}



            /* SEARCH */

#search_toolbar
{
    display: flex;
    align-items: center;
}

#search_tb_icon
{
    text-align: center;
    background-color: var(--gray);
    border-radius: 15px 0px 0px 15px;
    height: 50px;   
    width: 50px;
}

.fa-map-marker-alt:before
{
    font-size: 20px;
    position: relative;
    top: 15px;
}

input
{
    width: 89%;
    height: 46px;
    border-left: none;
    border-right: none;
    border: solid 2px var(--gray);
    padding: 0;
    padding-left: 10%;
    margin: 0;
    font-size: 17px;
    color: black;
    font-weight: bold; 
}

::placeholder
{
    color: black;
    font-weight: bold;
}

input:focus, textarea:focus, select:focus
{
    outline: none;
}

#search_tb_button
{
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    height: 50px;   
    width: 120px;
}

#search_tb_button p
{
    color: white;
    text-align: center;
    font-size: medium;
}

.fa-info:before
{
    font-size: 15px;
    position: relative;
    left: 10px;
    color: var(--main-blue)
}

.circle_empty:before
{
    font-size: 30px;
    position: relative;
    left: -8px;
    top: 5px;
    color: var(--gray)
}

#search_filters
{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#search_filters h2
{
    width: 5%
}

#search_filters ul
{
    width: 900px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1%;
}

#search_filters li
{
    position: relative;
    width: auto;
    border: var(--gray) solid;
    border-left: none;
    border-radius: 0px 40px 40px 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 7%;
}

#search_filters li:hover
{
    background: linear-gradient(to right, var(--light-blue), var(--main-blue))
}

#search_filters a
{
    width: auto;
    font-weight: bold;
    color: black;
    font-size: 17px;
    white-space: nowrap;
    padding-left: 5px;
}  

.circle_full:before
{
    color: var(--light-blue);
    font-size: 47px;
    position: absolute;
    left: -31px;
    top: -4px;
    z-index: 1;
}

.fa-money-bill-wave
{
    color: var(--main-blue);
    position: absolute;
    left: -18px;
    top: 11px;
    font-size: 17px;
    z-index: 2;
}

.fa-child
{
    color: var(--main-blue);
    position: absolute;
    left: -16px;
    top: 8px;
    font-size: 22px;
    z-index: 2; 
}

.fa-heart
{
    color: var(--main-blue);
    position: absolute;
    left: -19px;
    top: 9px;
    font-size: 22px;
    z-index: 2;   
}

.fa-dog
{
    color: var(--main-blue);
    position: absolute;
    left: -20px;
    top: 6px;
    font-size: 22px;
    z-index: 2; 
} 



            /* HOSTINGS */

#hostings
{
    margin-top: 3%;
    display: flex;
}

#hostings_main
{
    width: 67%;
    background-color: var(--gray);
    border-radius: 20px;
    height: 650px;
}

#hostings_m_flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hostings_main img
{
    width: 96%;
    padding: 2%;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}

.hostings_m_blocs
{
    width: 30%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hostings_m_blocs figcaption
{
    padding-left: 7%;
}

.hostings_m_blocs p, .hostings_m_blocs h3
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.blue_stars
{
    color: var(--main-blue);
}

.gray_stars
{
   color: var(--gray) 
}

aside
{
    margin-left: 3%;
    background-color: var(--gray);
    border-radius: 20px;
    width: 33%;
    height: 650px;
}

#hostings_a_flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.hostings_a_blocs
{
    width: 90%;
    display: flex;
    margin-top: 1%;
}

aside figure
{
    display: flex;
    height: 160px;
    width: 100%;
}

aside img
{
    align-self: flex-start;
    width: 40%;
    padding: 5px;
    height: 95%;
    border-radius: 20px 0px 0px 20px;
}

aside figcaption
{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

aside h3, aside p
{
    margin-bottom: 0;
}

figcaption h3 + p
{
    margin-top: 5%;
}

.fa-chart-line
{
    padding-left: 35%;
}

.a_stars
{
    margin-top: 40%;
}

#hostings_main h2, #show_more, aside h2
{
    margin-top: 50px;
    margin-left: 35px;
}

#show_more
{
    font-weight: bold;
    color: black;
}



            /* ACTIVITIES */

#activities
{
    height: 550px;
}

#activities_flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}

#activities h2
{
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 10px;
}

#activities h3
{
    margin-top: 3%;
    padding-left: 7%;
}

#activities figure
{
    height: 100%;
}

#activities img
{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
}

#activities figcaption
{
    height: 25px;
}

.activities_single, #activities_unequals, #activities_equals
{
    width: 24%;
    height: 500px;
}

#activities_unequals, #activities_equals
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pomegues
{
    height: 55%;
    margin-top: 0;
}

#pomegues img
{
    height: 81%;
}

#frioul
{
    height: 35%;
    margin-bottom: 0;
}

#frioul img
{
    height: 71%;
}

#activities_equals img
{
    width: 100%;
    height: 78%;
}

.dame_parc
{
    height: 45%;
    margin-top: 0;
    margin-bottom: 0;
}



            /* FOOTER */

footer
{
    width: 100%;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    background-color: var(--gray);
    margin-top: 5%;
}

footer div
{
    margin-right: 10%;
    padding-left: 7%;
    margin-top: 2%;
}

footer ul
{
    flex-direction: column;
    align-items: start;
}

footer li
{
    margin-bottom: 7%;
}



            /* Media Queries */

@media all and (max-width: 1280px)
{
    #hostings
    {
        flex-direction: column-reverse;
    }
    
    #hostings_main
    {
        width: 100%;
        margin-bottom: 2%;
    }

    aside
    {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 2%;
        padding-bottom: 3%;
    }

    aside figure
    {
        margin: 4%;
    }

    aside figcaption
    {
        padding-left: 2%;
    }

    #hostings_a_flex
    {
        flex-direction: row;
    }

    #hostings_main h2, aside h2
    {
        text-align: center;
        margin-left: 0;
        margin-top: 3%;
    }

    .fa-chart-line
    {
        padding-left: 5%;
    }
}

@media all and (max-width: 768px)
{
    header
    {
        flex-wrap: wrap;
    }

    header div
    {
        width: 800px;
    }

    header a 
    {
        padding-left: 0;
    }
}
